@import "./fonts.css";

.home-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
        font-family: "Cinzel", Arial, Helvetica, sans-serif;
    }

    p {
        max-width: 80ch;
        font-family: "Go", Arial, Helvetica, sans-serif;
    }

    img {
        width: min(600px, 80dvw);
        border-radius: 25px;
        box-shadow: 2px 2px 4px black;
    }
}