@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    background-image: radial-gradient(circle 400px at 6.8% 8.3%, rgba(255, 244, 169, 1) 0%, rgba(255, 244, 234, 1) 100.2%);
}

.site-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    h1 {
        margin-right: auto;
        font-size: 3rem;
        font-family: "Alex Brush", Arial, Helvetica, sans-serif;
    }
}

.site-logo {
    img {
        width: 4rem;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    }
}

.site-navigator {
    display: flex;
    gap: 1rem;

    button {
        font-family: "Cinzel", Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
}

#content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for navigator buttons */
.nav-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nav-button:hover {
    background-color: #fff;
}

.nav-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .nav-button {
        min-width: 120px;
        padding: 0 25px;
    }
}